<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
  </div>
  <p>
     <%= f.text_field :tag_list%> 
	</p>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
