<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <h2> Content </h2>
  <div class="form-inputs">
      <%= f.input :content %>
      <%= f.date_field :due %>   
  </div> 
  <p>
     <%= f.text_field :tag_list%> 
	</p>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
