<%= form_for @task, remote: true do |f| %>
  <b>  Content </b>
  <%= f.text_field :content, :autofocus => true %>
  <b>  Deadline </b>
  <%= f.date_field :due %>   
  <b>  Tag </b>
  <%= f.text_field :tag_list%> 
  <div class="form-actions">
	<%= f.button :submit %>
  </div>
<% end %>
<br>