<% @d = Date.parse(Time.now.to_s)
  if task.due.nil?  
    @distance = "Many "                
  else
    @distance = task.due.mjd - @d.mjd
  end                
%> 
<div class = "card">
  <div class = "card-content">
    <b> <%= "#{@distance} days left" %> </b><br>
    <%= task.content %>  <br> 
    <span style = "float : right;">
      <div class="color: amber lighten-4 ">
      <%task.tags.each do |tag| %>
        <%= " #{tag.name} " %> 
      <%end%>    
      </div>
    </span>
  </div>
  <div class = "card-action">
    <span style = "float: right; font-size: small; ">
      <%= link_to 'delete', task, method: :delete, remote:true, data: { confirm: 'Are you sure? This action is irreversible.' } %>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= link_to 'Done', change_task_path(task, state: 'done'), remote: true, method: :put %>     

    </span>
  </div>
  
</div>

          <!--     
            <td>
                <br> 
                 
            </td>
            <td>
                </td>
          
-->