<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Page Layout here -->
<div class="row">

<div class="col s12 l2"> 
  <br>
  <i class="material-icons" style="float:left">label_outline</i>  <h6 style="float:left"> <b> LABLES </b> </h6> 
  <br><br>
  <% @tags.each do |tag| %>
        <% @tag_counts.each do |_id, _count| 
            if tag.id == _id && _count > 0 %>
            <div class="chip"> <%= link_to tag.name, tasks_path(tag_name: tag.name)%> </div>
            <br>
        <% end
          end %>
  <%end %>
  <br><i class="material-icons" style="float:left">view_stream</i><%= link_to ' ALL TASKS', tasks_path%> <br><br>
  <i class="material-icons" style="float:left">delete</i><%= link_to ' FINISHED TASKS', tasks_path(done: "done")%>
</div>
<div class="col s12 l10"> 
    <br>   
    <div class="chip orange lighten-2"> <%= link_to 'NEW TASK (N)', new_task_path,  id: "new_link", remote: true %> </div>
    <br>
    <div class = "row">
      <div class="col s12 l5">
        <h5> UPCOMING </h5>
        <%= render @open_due %>
      </div>
      <div class="col s12 l5">
        <h5> SOMEDAY </h5>
        <%= render @open_nodue %>
      </div>
    </div>
<script src="/assets/javascripts/keymaster.js"></script>
<script> key('n', function(){
  document.getElementById("new_link").click();
 }); </script>

</div>

